Repository simdjson/simdjson, pull requests merged in 2021-03, with the labels that each got.

#1473 Support user-provided buffers in On Demand
  doc/ondemand.md
  include/simdjson.h
  include/simdjson/error.h
  include/simdjson/generic/ondemand/parser-inl.h
  include/simdjson/generic/ondemand/parser.h
  include/simdjson/padded_string-inl.h
  include/simdjson/padded_string.h
  include/simdjson/padded_string_view-inl.h
  include/simdjson/padded_string_view.h
  src/internal/error_tables.cpp
  tests/ondemand/compilation_failure_tests/CMakeLists.txt
  tests/ondemand/compilation_failure_tests/iterate_char_star.cpp
  tests/ondemand/compilation_failure_tests/iterate_string_view.cpp
  tests/ondemand/ondemand_parse_api_tests.cpp
  tests/ondemand/ondemand_readme_examples.cpp
Labels: On Demand

#1494 This moves us to On Demand as the default front-end.
  README.md
  doc/basics.md
  doc/basics_doxygen.md
  doc/dom.md
  doc/ondemand.md
  include/simdjson/generic/ondemand/document-inl.h
  include/simdjson/generic/ondemand/document.h
  tests/readme_examples.cpp
Labels: documentation, on demand

#1507 Fix unwanted signed integer overflow
  include/simdjson/generic/numberparsing.h
  tests/ondemand/ondemand_wrong_type_error_tests.cpp
Labels: on demand
