Repository simdjson/simdjson, pull requests merged in 2021-06, with the labels that each got.

#1539 Rewind functionality.
  doc/basics.md
  include/simdjson/generic/ondemand/document-inl.h
  include/simdjson/generic/ondemand/document.h
  include/simdjson/generic/ondemand/json_iterator-inl.h
  include/simdjson/generic/ondemand/json_iterator.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/value_iterator.h
  tests/ondemand/ondemand_array_tests.cpp
  tests/ondemand/ondemand_object_tests.cpp
  tests/ondemand/ondemand_readme_examples.cpp
Labels: on demand

#1577 Adding 'count_elements' method.
  doc/basics.md
  include/simdjson/error.h
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/document-inl.h
  include/simdjson/generic/ondemand/document.h
  include/simdjson/generic/ondemand/json_iterator.h
  include/simdjson/generic/ondemand/value-inl.h
  include/simdjson/generic/ondemand/value.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  include/simdjson/generic/ondemand/value_iterator.h
  tests/compilation_failure_tests/CMakeLists.txt
  tests/compilation_failure_tests/bad_array_count.cpp
  tests/ondemand/ondemand_array_tests.cpp
  tests/ondemand/ondemand_readme_examples.cpp
  tests/test_macros.h
Labels: on demand

#1619 Add JSON pointer benchmark for distinct_user_id
  benchmark/bench_ondemand.cpp
  benchmark/distinct_user_id/simdjson_dom_json_pointer.h
  benchmark/distinct_user_id/simdjson_ondemand_json_pointer.h
Labels: benchmarking, on demand

#1625 This better documents invalidation.
  include/simdjson/generic/ondemand/document.h
  tests/ondemand/ondemand_json_pointer_tests.cpp
Labels: on demand

#1626 Added tests over invalid documents.
  include/simdjson/generic/ondemand/parser.h
  tests/ondemand/ondemand_json_pointer_tests.cpp
Labels: on demand

#1630 Partial documentation regarding relative JSON pointers.
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/value.h
  tests/ondemand/ondemand_json_pointer_tests.cpp
Labels: documentation, on demand

#1618 Update basic.md to document JSON pointer for On Demand.
  doc/basics.md
  include/simdjson/generic/ondemand/document.h
  tests/ondemand/ondemand_readme_examples.cpp
Labels: documentation, on demand
