Repository simdjson/simdjson, pull requests merged in 2021-07, with the labels that each got.

#1646 Get fuzzing working again
  .drone.yml
  .github/workflows/fuzzers.yml
  .github/workflows/power-fuzz.yml
  fuzz/Fuzzing.md
Labels: fuzzing

#1650 Fuzzing timeout (bug fix)
  .vscode/settings.json
  src/generic/stage1/json_structural_indexer.h
  tests/dom/document_stream_tests.cpp
Labels: bug, fuzzing

#1642 renames 'to_string' to 'to_json_string' and makes it ridiculously fast
  .vscode/settings.json
  doc/basics.md
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/document-inl.h
  include/simdjson/generic/ondemand/document.h
  include/simdjson/generic/ondemand/json_iterator-inl.h
  include/simdjson/generic/ondemand/json_iterator.h
  include/simdjson/generic/ondemand/object-inl.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/serialization-inl.h
  include/simdjson/generic/ondemand/serialization.h
  include/simdjson/generic/ondemand/token_iterator-inl.h
  include/simdjson/generic/ondemand/token_iterator.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  include/simdjson/generic/ondemand/value_iterator.h
  tests/ondemand/ondemand_json_pointer_tests.cpp
  tests/ondemand/ondemand_parse_api_tests.cpp
  tests/ondemand/ondemand_readme_examples.cpp
  tests/ondemand/ondemand_tostring_tests.cpp
  tests/test_macros.h
Labels: on demand, performance

#1663 Isolated jkeiser fix for issue 1632: make it so that INCORRECT_TYPE is a recoverable condition in On Demand
  .circleci/config.yml
  include/simdjson/common_defs.h
  include/simdjson/error.h
  include/simdjson/generic/numberparsing.h
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/array_iterator-inl.h
  include/simdjson/generic/ondemand/document-inl.h
  include/simdjson/generic/ondemand/document.h
  include/simdjson/generic/ondemand/json_iterator-inl.h
  include/simdjson/generic/ondemand/json_iterator.h
  include/simdjson/generic/ondemand/logger-inl.h
  include/simdjson/generic/ondemand/object-inl.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/token_iterator-inl.h
  include/simdjson/generic/ondemand/token_iterator.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  include/simdjson/generic/ondemand/value_iterator.h
  src/from_chars.cpp
  src/generic/stage1/utf8_lookup4_algorithm.h
  src/internal/error_tables.cpp
  tests/ondemand/ondemand_array_error_tests.cpp
  tests/ondemand/ondemand_json_pointer_tests.cpp
  tests/ondemand/ondemand_misc_tests.cpp
  tests/ondemand/ondemand_object_error_tests.cpp
  tests/ondemand/ondemand_object_find_field_tests.cpp
  tests/ondemand/ondemand_object_index_tests.cpp
  tests/ondemand/ondemand_object_tests.cpp
  tests/ondemand/ondemand_wrong_type_error_tests.cpp
Labels: on demand

#1679 Adding error handing examples to the documentation
  doc/basics.md
  tests/ondemand/ondemand_error_tests.cpp
  tests/ondemand/ondemand_readme_examples.cpp
Labels: documentation
