Repository simdjson/simdjson, pull requests merged in 2021-02, with the labels that each got.

#1425 It appears that Qt uses macros for common terms like slots, signals and so forth.
  include/simdjson/dom/array-inl.h
  include/simdjson/dom/array.h
Labels: hygiene

#1422 Why would you use a reference when looping?
  doc/basics.md
  doc/basics_doxygen.md
  include/simdjson.h
  tests/readme_examples.cpp
Labels: documentation, platform coverage

#1421 Potential optimizations applied to jkeiser/array-assert
  include/simdjson/generic/numberparsing.h
Labels: performance

#1414 Fix #1409 (assert when trying to get one value as multiple types)
  include/simdjson/generic/numberparsing.h
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/logger-inl.h
  include/simdjson/generic/ondemand/logger.h
  include/simdjson/generic/ondemand/object-inl.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/value-inl.h
  include/simdjson/generic/ondemand/value.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  include/simdjson/generic/ondemand/value_iterator.h
  tests/ondemand/CMakeLists.txt
  tests/ondemand/ondemand_array_tests.cpp
  tests/ondemand/ondemand_error_tests.cpp
  tests/ondemand/ondemand_object_tests.cpp
  tests/ondemand/ondemand_scalar_tests.cpp
  tests/test_macros.h
Labels: On Demand, hygiene

#1416 Add safety checks for out of order array/object iteration+indexing
  include/simdjson/error.h
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/array.h
  include/simdjson/generic/ondemand/object-inl.h
  include/simdjson/generic/ondemand/object.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  include/simdjson/generic/ondemand/value_iterator.h
  src/internal/error_tables.cpp
  tests/ondemand/ondemand_error_tests.cpp
Labels: On Demand, hygiene

#1432 Alert user when they use object indexing incorrectly
  cmake/simdjson-flags.cmake
  include/simdjson/common_defs.h
  include/simdjson/generic/ondemand/array-inl.h
  include/simdjson/generic/ondemand/json_iterator-inl.h
  include/simdjson/generic/ondemand/json_iterator.h
  include/simdjson/generic/ondemand/object-inl.h
  include/simdjson/generic/ondemand/object_iterator-inl.h
  include/simdjson/generic/ondemand/parser-inl.h
  include/simdjson/generic/ondemand/parser.h
  include/simdjson/generic/ondemand/value_iterator-inl.h
  tests/ondemand/CMakeLists.txt
  tests/ondemand/ondemand_array_error_tests.cpp
  tests/ondemand/ondemand_error_tests.cpp
  tests/ondemand/ondemand_object_error_tests.cpp
  tests/ondemand/ondemand_object_tests.cpp
  tests/ondemand/ondemand_wrong_type_error_tests.cpp
Labels: On Demand, enhancement
